<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <img
      src="../../../assets/logo.PNG"
      class="img img-thumbnail"
      alt="Abhishek Soni"
    />

    <hr />
    <h4>Angular PWA Demo Application</h4>
    <p>
      Developed by
      <a href="https://www.linkedin.com/in/abhishek-soni-b791744a/"
        >Abhishek Soni</a
      >
    </p>
    <p>
      &copy; 2021-22 All rights reserved by <a href="#">DevilNeverDies Inc.</a>
    </p>
  </div>
  <div class="col-md-4"></div>
</div>
