/* You can add global styles to this file, and also import other style files */
@import url("https://bootswatch.com/5/quartz/bootstrap.min.css");
.app-clickable {
  cursor: pointer;
}

.spinner-border {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
